{% form 'customer_activate' 'role="form" class="login-form"' %}
  <div class="row">
    <div class="col-x-12">
      <h4 class="text-center">Activar Cuenta</h4>
      <br/>
    </div>
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Nueva Contraseña" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="password" class="form-control input-lg" id="password_confirmation" name="password_confirmation" placeholder="Confirmar Contraseña" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="form-group">
        <input class="btn btn-action btn-block" type="submit" name="submit" id="submit" value="&nbsp; Activar cuenta &nbsp;">
      </div>
      <input type="hidden" name="token" value="{{ token }}">
      <input type="hidden" name="email" value="{{ email }}">
    </div>
  </div>
{% endform %}