<div class="blog-grid-item">
    <div class="blog-grid-item__thumb-link placeholder">
        <div class="center-precontainer">
            <div class="center-container">
                <img src="{{ 'placeholder.png'|asset_url }}">
            </div>
        </div>
    </div>
    <h5 class="blog-grid-item__title">Título</h5>
    <p class="blog-grid-item__summary">Acerca del artículo</p>
    <a href="#" class="blog-read-more">Leer más</a>
</div>
