<ul class="{% if index is defined %}list-unstyled{% endif %} category">
  <li>
  <a href="/categorias/{{ category.permalink }}"{% if category.permalink == current.permalink %} class="active"{% endif %}>{{ category.title | title }}</a>
  {% for sub_category in category.children %}
    {% include '_category_tree_item.twig' with { 'category': sub_category, 'current': current } only %}
  {% endfor %}
  </li>
</ul>
