{% if collection.image_url is defined %}

{% set style = ' style="background-image: url(\'' ~ collection.image_url ~ '?w=570&h=570&fit=crop\');"' %}
{% set class = null %}

{% else %}

{% set style = null %}
{% set class = ' collection__item--no_image' %}

{% endif %}

<div class="collection__item collection__item--square{{ class }}"{{ style }}>
  <div class="collection__item__overlay">
    <a href="/colecciones/{{ collection.permalink }}" class="collection__item__title h3">
      {{ collection.title }}
    </a>
  </div>
</div>
