<div class="row collection__grid collection__layout__2-items">
    <div class="col-sm-6">
        {% include "_collection-placeholder.twig" %}
    </div>
    <div class="col-sm-6">
        {% include "_collection-placeholder.twig" %}
    </div>
</div>
