<div class="collection__item collection__item--square placeholder">
    <div class="collection__item__overlay item__overlay--empty">
        <div class="center-precontainer">
            <div class="center-container">
                <img src="{{ 'placeholder.png' | asset_url }}" alt="{{ product.name | escape }}" width="150">
            </div>
        </div>
    </div>
</div>
