<div class="row collection__grid collection__layout__2-items">
    <div class="col-sm-6">
        {% include "_collection-square.twig" with {'collection' : collection_1} %}
    </div>
    <div class="col-sm-6">
        {% include "_collection-square.twig" with {'collection' : collection_2} %}
    </div>
</div>
