<div class="product-card">
  <div class="product-card__thumb-link placeholder product-card-placeholder">
    <div class="center-precontainer">
      <div class="center-container">
      </div>
    </div>
  </div>
  <h5 class="product-card__title">Producto</h5>
  <p class="product-card__price"><span class="final-price">{{ 1999 | money('symbol') }}</span></p>
</div>