<form action="/cuenta/registro" method="POST" role="form" class="login-form">
  <div class="row">
    <div class="col-x-12">
      <h4 class="text-center">¿Eres un nuevo cliente? Empieza Aqui</h4>
      <br/>
    </div>
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control input-lg" id="first_name" name="first_name" placeholder="Nombre" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control input-lg" id="last_name" name="last_name" placeholder="Apellido" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-2">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Correo electrónico" required>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Contraseña" required>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="form-group">
        <input class="btn btn-action btn-block" type="submit" name="submit" id="submit" value="&nbsp; Crear cuenta &nbsp;">
      </div>
    </div>
  </div>
</form>
