{% extends 'layout.twig' %}

{% block body %}
<div class="container margin-top">
  <div class="row page">
    <div class="col-sm-12">
      <h1 class="page__title section-heading">{{ page.title }}</h1>
    </div>
    <div class="col-sm-12">
      {% include '_activate-form.twig' %}
    </div>
  </div>
</div>
{% endblock %}
