{% extends 'layout.twig' %}

{% block body %}
<div class="container page margin-top">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="page__title section-heading">Activar Cuenta</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% include '_activate-form.twig' %}
    </div>
  </div>
</div>
{% endblock %}
