{% extends 'layout.twig' %}

{% block body %}
<div class="container page margin-top">
  <div class="row">
    <div class="col-xs-12 page__content text-center">
      <h1 class="page__title section-heading">Iniciar sesión</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% include '_login-form.twig' %}
    </div>
  </div>
</div>
{% endblock  %}
