{% extends 'layout.twig' %}

{% block body %}
<div class="container super-margin-top">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <h1>Página no encontrada</h1>
      <p><i class="fa fa-frown-o fa-5x not-found" aria-hidden="true"></i></p>
      <h3>Lo sentimos, no pudimos encontrar lo que estás buscando.</h3>
      <p>Puedes <a href="/">regresar al inicio</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
