{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>¡PÁGINA NO ENCONTRADA!</h1>
                <h3>Lo sentimos, no pudimos encontrar la página que estás buscando.</h3>
                <p>
                    Puedes <a href="/">regresar al inicio</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock body %}
