{% extends 'layout.twig' %}

{% block body %}
<div class="container-fluid">
  <div class="row post__header" style="background-image: url('{{ post.image_url }}')">
    <div class="post__header__overlay"></div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="position: absolute; bottom: 15px;">
      <h1 class="post__header__title">{{ post.title | escape }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 post__content">
      {{ post.content }}
      {% if settings.enable_share_blog %}
      <br>
      <div class="product__social-share">
      {% include '_social-share.twig' %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock  %}
